.80_796 { 
	overflow:hidden;
}.e80_796 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e80_802 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:355px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_803 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_803 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:355px;
}.e80_804 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:185px;
	height:47px;
	position:absolute;
	left:526px;
	top:420px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_805 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_805 { 
	width:241px;
	height:47px;
	position:absolute;
	left:509px;
	top:420px;
}.e80_806 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:123px;
	height:47px;
	position:absolute;
	left:782px;
	top:420px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.80_807 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_807 { 
	width:160px;
	height:47px;
	position:absolute;
	left:771px;
	top:420px;
}.e80_808 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:46px;
	position:absolute;
	left:526px;
	top:486px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_809 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_809 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:486px;
}.e80_810 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:27px;
	position:absolute;
	left:551px;
	top:552px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_811 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_811 { 
	width:28px;
	height:27px;
	position:absolute;
	left:509px;
	top:552px;
}.e80_812 { 
	color:rgba(0, 0, 0, 1);
	width:466px;
	height:44px;
	position:absolute;
	left:483px;
	top:272px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e80_813 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:17.000001907348633px;
	height:14.999998092651367px;
	position:absolute;
	left:913px;
	top:518px;
}.e80_814 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:17.000001907348633px;
	height:14.999998092651367px;
	position:absolute;
	left:913px;
	top:451px;
}.e80_815 { 
	background-color:rgba(7.2117251716554165, 7.2117251716554165, 7.2117251716554165, 1);
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:599px;
}.e80_816 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:605px;
	top:608px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e80_817 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:664px;
}.80_818 { 
	border:3px solid rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
}.e80_818 { 
	width:422px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e80_819 { 
	color:rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:96px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e80_840 { 
	color:rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
	width:228px;
	height:18px;
	position:absolute;
	left:105px;
	top:72px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e80_841 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1230px;
	height:0px;
	position:absolute;
	left:105px;
	top:104px;
}.80_841 { 
	border:1px solid rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
}.e80_842 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:26px;
	position:absolute;
	left:105px;
	top:128px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}