.container {
    width: 80%;
    margin: 0 auto;
}
.back-button {
    display: block;
    margin: 20px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating {
    font-size: 1.2em;
    margin: 0;
}
.header-icons span {
    font-size: 1.5em;
    margin-left: 10px;
    cursor: pointer;
}
.buttons {
    margin: 20px 0;
}
.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
.menu-tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.menu-tabs a {
    margin: 0 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.menu, #gallery {
    display: none;
}
.menu-item {
    display: inline-block;
    width: 30%;
    margin: 1%;
    vertical-align: top;
}
.img-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#gallery {
    display: none;
    text-align: center;
}
#gallery img {
    width: 30%;
    margin: 1%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}