.container {
    position: relative;
    width: 1000px;
    margin: auto;
}

.back-button {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.icons i {
    margin-top: 15px;
    margin-right: 15px;
}

#popup, #heartOn, #heartOff, #bookmarkOn, #bookmarkOff {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    margin: 20px 0;
    margin-bottom: 50px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 0px;
    font-size: 1em;
    cursor: pointer;
}

.contents {
    width: 960px;
    margin: auto;
    padding: 20px;
}

.btnCon {
    text-align: center;
    margin-bottom: 20px;
}

label[for="tabmenu1"]{
    position: absolute;
    left: 400px;
}

label[for="tabmenu2"]{
    position:absolute;
    right:400px;
}

.contents input {
    display:none;
}

.content_menu, .content_gallery {
    margin-top: 50px;
}

.menu, .gallery {
    float: left;
    width:33%;
}

.menu img, .gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding:10px;
}

.menu p {
    width:300px;
    position:relative;
    left:20px;
    bottom:10px;
}

.content_menu, .content_gallery {
    display: none;
}

input[id="tabmenu1"]:checked~.content_menu,
input[id="tabmenu2"]:checked~.content_gallery {
    display: block;
}

/*
 .contents {
    display: none;
    text-align: left;
    padding: 20px;
    left: 0;
    top: 60px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
}

#content1 {
    display: block;
}

#tabmenu1:checked ~ ul #content1 {
    display: block;
}

#tabmenu2:checked~ul #content2 {
    display: block;
} 

.btnCon:checked~ #content2 {
    display: none;
}

.contents_menu {
    width: 100%;
    margin-bottom: 10px;
}

#tabmenu1:checked ~ ul #content1 {
    display: block;
}

.contents img {
    width: 33.3%;
    height: auto;
    object-fit: cover;
    display:inline-block;
    aspect-ratio: 1 / 1;
} */
