.12_15 { 
	overflow:hidden;
}.e12_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e12_21 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:27px;
	position:absolute;
	left:551px;
	top:661px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e12_18 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:466px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.12_19 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e12_19 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:466px;
}.e12_46 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:401px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.12_47 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e12_47 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:401px;
}.e12_43 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:336px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.12_44 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e12_44 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:336px;
}.e12_20 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:531px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.12_24 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e12_24 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:531px;
}.e18_87 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:596px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e18_89 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 0.5);
	width:129px;
	height:47px;
	position:absolute;
	left:782px;
	top:596px;
	font-family:Inter;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}.18_88 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e18_88 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:596px;
}.e12_25 { 
	background-color:rgba(7.2117251716554165, 7.2117251716554165, 7.2117251716554165, 1);
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:708px;
}.e12_26 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:605px;
	top:717px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.12_27 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e12_27 { 
	width:28px;
	height:27px;
	position:absolute;
	left:509px;
	top:661px;
}.e12_36 { 
	transform: rotate(0.000005008956130975318deg);
	width:1230px;
	height:0px;
	position:absolute;
	left:105px;
	top:182px;
}.12_36 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e12_45 { 
	color:rgba(0, 0, 0, 1);
	width:324px;
	height:44px;
	position:absolute;
	left:554px;
	top:253px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e18_347 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:137px;
	height:27px;
	position:absolute;
	left:509px;
	top:836px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e18_351 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:773px;
}.18_349 { 
	border:3px solid rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
}.e18_349 { 
	width:422px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e18_350 { 
	color:rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:96px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.63_2 { 
	border:1px solid rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
}.e63_2 { 
	width:89px;
	height:39px;
	position:absolute;
	left:1246px;
	top:116px;
}.e63_3 { 
	color:rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
	width:89px;
	height:39px;
	position:absolute;
	left:1246px;
	top:116px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.63_4 { 
	border:1px solid rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
}.e63_4 { 
	width:89px;
	height:39px;
	position:absolute;
	left:1133px;
	top:116px;
}.e63_5 { 
	color:rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
	width:89px;
	height:39px;
	position:absolute;
	left:1133px;
	top:116px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e63_7 { 
	color:rgba(0, 0, 0, 1);
	width:516px;
	height:70px;
	position:absolute;
	left:105px;
	top:95px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e63_9 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:26px;
	position:absolute;
	left:105px;
	top:206px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}