.11_6 { 
	overflow:hidden;
}.e11_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e11_23 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:27px;
	position:absolute;
	left:551px;
	top:577px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.11_22 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e11_22 { 
	width:28px;
	height:27px;
	position:absolute;
	left:509px;
	top:577px;
}.e11_47 { 
	color:rgba(0, 0, 0, 1);
	width:324px;
	height:44px;
	position:absolute;
	left:554px;
	top:363px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e18_326 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:137px;
	height:27px;
	position:absolute;
	left:509px;
	top:687px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e18_327 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:188px;
	height:27px;
	position:absolute;
	left:743px;
	top:687px;
	font-family:Inter;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}.e68_34 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:624px;
}.e11_20 { 
	background-color:rgba(7.2117251716554165, 7.2117251716554165, 7.2117251716554165, 1);
	width:422px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_24 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:96px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e68_33 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:511px;
}.e11_18 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:46px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.11_19 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e11_19 { 
	width:422px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e68_32 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:446px;
}.e11_7 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:46px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.11_17 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e11_17 { 
	width:422px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e68_31 { 
	width:1230px;
	height:137px;
	position:absolute;
	left:105px;
	top:95px;
}.e12_9 { 
	transform: rotate(0.000005008956130975318deg);
	width:1230px;
	height:0px;
	position:absolute;
	left:0px;
	top:87px;
}.12_9 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e12_10 { 
	color:rgba(0, 0, 0, 1);
	width:516px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e18_456 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:26px;
	position:absolute;
	left:0px;
	top:111px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e68_29 { 
	width:89px;
	height:39px;
	position:absolute;
	left:1141px;
	top:21px;
}.62_10 { 
	border:1px solid rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
}.e62_10 { 
	width:89px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.e62_11 { 
	color:rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
	width:89px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e68_30 { 
	width:89px;
	height:39px;
	position:absolute;
	left:1028px;
	top:21px;
}.62_12 { 
	border:1px solid rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
}.e62_12 { 
	width:89px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.e62_13 { 
	color:rgba(161.06171429157257, 161.06171429157257, 161.06171429157257, 1);
	width:89px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}