.80_821 { 
	overflow:hidden;
}.e80_821 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e80_826 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:355px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_827 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_827 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:355px;
}.e80_828 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:224px;
	height:47px;
	position:absolute;
	left:526px;
	top:420px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_829 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_829 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:420px;
}.e80_830 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:185px;
	height:47px;
	position:absolute;
	left:526px;
	top:485px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.80_831 { 
	border:3px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}.e80_831 { 
	width:422px;
	height:159px;
	position:absolute;
	left:509px;
	top:485px;
}.e80_832 { 
	background-color:rgba(7.2117251716554165, 7.2117251716554165, 7.2117251716554165, 1);
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:664px;
}.e80_833 { 
	color:rgba(255, 255, 255, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:605px;
	top:673px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e80_834 { 
	color:rgba(0, 0, 0, 1);
	width:466px;
	height:44px;
	position:absolute;
	left:483px;
	top:272px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e80_835 { 
	width:422px;
	height:47px;
	position:absolute;
	left:509px;
	top:729px;
}.80_836 { 
	border:3px solid rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
}.e80_836 { 
	width:422px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e80_837 { 
	color:rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
	width:224px;
	height:28px;
	position:absolute;
	left:96px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e80_843 { 
	color:rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
	width:228px;
	height:18px;
	position:absolute;
	left:105px;
	top:72px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e80_844 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1230px;
	height:0px;
	position:absolute;
	left:105px;
	top:104px;
}.80_844 { 
	border:1px solid rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
}.e80_845 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:26px;
	position:absolute;
	left:105px;
	top:128px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}