.e80_697 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:26px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.80_688 { 
	overflow:hidden;
}
.e80_688 { 
	width:141.00015258789062px;
	height:26.818729400634766px;
	position:absolute;
}
.e80_689 { 
	background-color:rgba(0, 0, 0, 1);
	width:20.944110870361328px;
	height:26.722057342529297px;
	position:absolute;
	left:62.979488372802734px;
	top:0px;
}
.e80_690 { 
	width:24.007001876831055px;
	height:26.818702697753906px;
	position:absolute;
	left:116.99315643310547px;
	top:0px;
}
.e80_691 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.335615158081055px;
	height:9.465020179748535px;
	position:absolute;
	left:14.67138671875px;
	top:17.353681564331055px;
}
.e80_692 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.335615158081055px;
	height:9.465020179748535px;
	position:absolute;
	left:14.67138671875px;
	top:0px;
}
.e80_693 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.335615158081055px;
	height:9.465020179748535px;
	position:absolute;
	left:0px;
	top:8.676856994628906px;
}
.e80_694 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.550496101379395px;
	height:6.71875524520874px;
	position:absolute;
	left:7.228470325469971px;
	top:5.71155309677124px;
}
.e80_695 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.550496101379395px;
	height:6.71875524520874px;
	position:absolute;
	left:7.228470325469971px;
	top:14.388408660888672px;
}
.e80_696 { 
	background-color:rgba(0, 0, 0, 1);
	width:29.168956756591797px;
	height:26.818729400634766px;
	position:absolute;
	left:0px;
	top:0px;
}
.e80_687 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1230px;
	height:0px;
}
.80_687 { 
	border:1px solid rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
}
.80_677 { 
	overflow:hidden;
}
.e80_677 { 
	width:287.5068054199219px;
	height:20px;
	position:absolute;
}
.e80_678 { 
	width:99.77918243408203px;
	height:18.228660583496094px;
	position:absolute;
	left:0px;
	top:0px;
}
.e80_679 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.166744232177734px;
	height:18.228660583496094px;
	position:absolute;
	left:0px;
	top:0px;
}
.e80_680 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.166744232177734px;
	height:18.228660583496094px;
	position:absolute;
	left:20.15311050415039px;
	top:0px;
}
.e80_681 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.166744232177734px;
	height:18.228660583496094px;
	position:absolute;
	left:40.30622100830078px;
	top:0px;
}
.e80_682 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.166744232177734px;
	height:18.228660583496094px;
	position:absolute;
	left:60.45933151245117px;
	top:0px;
}
.e80_683 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.166744232177734px;
	height:18.228660583496094px;
	position:absolute;
	left:80.61244201660156px;
	top:0px;
}
.e80_684 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:17px;
	position:absolute;
	left:103.50682067871094px;
	top:2px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e80_685 { 
	color:rgba(0, 0, 0, 1);
	width:91px;
	height:17px;
	position:absolute;
	left:196.50682067871094px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.80_686 { 
	border:1px solid rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
}
.e80_686 { 
	position:absolute;
	left:182.50682067871094px;
	top:1px;
}
.e80_676 { 
	color:rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
	width:228px;
	height:18px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e80_675 { 
	color:rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width:978px;
	height:64px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e80_674 { 
	color:rgba(0, 0, 0, 1);
	width:324px;
	height:70px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.80_668 { 
	overflow:hidden;
}
.e80_668 { 
	width:149px;
	height:47px;
	position:absolute;
}
.e80_669 { 
	background-color:rgba(37.81171403825283, 33.27431671321392, 33.27431671321392, 1);
	width:149px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}
.e80_670 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e80_667 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1230px;
	height:0px;
}
.80_667 { 
	border:1px solid rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
}
.e80_619 { 
	background-color:rgba(255, 240.12499898672104, 217.8125050663948, 1);
	width:265.258544921875px;
	height:216px;
}
.e80_623 { 
	background-color:rgba(255, 240.12499898672104, 217.8125050663948, 1);
	width:265.258544921875px;
	height:216px;
}
.e80_627 { 
	background-color:rgba(255, 240.12499898672104, 217.8125050663948, 1);
	width:265.258544921875px;
	height:216px;
}
.e80_631 { 
	background-color:rgba(255, 240.12499898672104, 217.8125050663948, 1);
	width:265.258544921875px;
	height:216px;
}
